
import("rJava")

importFrom("methods","as")
importFrom("stats", "frequency", "ts")
export("jd3_calendar")
export("jd3_ssf_ar")
export("jd3_ssf_ar2")
export("jd3_ssf_cycle")
export("jd3_ssf_sae")
export("jd3_ssf_msae")
export("jd3_ssf_msae2")
export("jd3_ssf_msae3")
export("jd3_ssf_locallevel")
export("jd3_ssf_locallineartrend")
export("jd3_ssf_seasonal")
export("jd3_ssf_noise")
export("jd3_ssf_model")
export("jd3_ssf_equation")
export("jd3_ssf_loading")
export("jd3_ssf_varloading")
export("jd3_ssf_loading_sum")
export("jd3_ssf_loading_cyclical")
export("jd3_ssf_loading_periodic")
export("jd3_ssf")
export("jd3_ssf_arima")
export("jd3_ssf_arma")
export("jd3_ssf_sarima")
export("jd3_ssf_reg")
export("jd3_ssf_td")
export("jd3_ssf_aggregation")
export("jd3_ssf_cumul")
export("jd3_smoothedstates")
export("jd3_filteredstates")
export("jd3_filteringstates")
export("result")
export("dictionary")
export("add")
export("estimate")
export("ssf.compute")
export("ssf.estimate")
export("ssf.add")
export("ssf.signal")
export("ssf.dim")
export("ssf.loading")






















